<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Student</title>
</head>
<body>
<h1>Create New Student</h1>
<form action="#" th:action="@{/students}" th:object="${student}" method="post">
  <label>First Name: <input type="text" th:field="*{firstName}" /></label><br>
  <label>Last Name: <input type="text" th:field="*{lastName}" /></label><br>
  <label>Email: <input type="email" th:field="*{email}" /></label><br>
  <button type="submit">Save</button>
</form>
</body>
</html>
